streamlit>=1.47.0

langchain>=0.3.27
langchain-community>=0.3.27
langchain-huggingface>=0.3.1
langchain-text-splitters>=0.3.9

chromadb>=1.0.15

sentence-transformers>=5.0.0
transformers>=4.53.0
torch>=2.7.0
torchvision>=0.22.0

beautifulsoup4>=4.13.4
requests>=2.32.4
crawl4ai>=0.7.3

groq>=0.31.0
openai>=1.97.0

python-dotenv>=1.1.1

lxml>=6.0.0